*.sublime-project
*.sublime-workspace
*.svn
*.orig
*.ncb
*.tmp
*.pyc
*.orig
*.ipch
*.suo
*.user
*.bak
*.aps
*.sdf
*.opensdf
*~
.metadata
.project
.cproject
.tags
.tags_sorted_by_file
*.props
*.targets
*.landmines
*.orig
*.log
*.aps
*.suo
*.ncb
*.user
*.obj
*.pdb
*.o
*.so
*.a
*.cbp
*.layout
Thumbs.db
.vs
.idea
.settings
ipch
Debug
Release

setup/files/temp
setup/files/sign/*.pdb
setup/files/sign/*.lib
setup/package/Setup.exe
setup/package/SetupFiles.zip
